* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container {
  width: 100%;
  max-width: 1400px;
  margin: auto;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-left: 55px;
  margin-right: 45px;
}
.cover {
  width: 100%;
}
.logo {
  width: 100px;
}
ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}
li {
  color: white;
  margin-left: 40px;
}
header ul li button {
  height: 40px;
  width: 130px;
  color: white;
  border: none;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 5px;
}
.home {
  position: relative;
}
.all {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
}
h1 {
  color: white;
  font-size: 55px;
}
.pt {
  color: white;
  max-width: 800px;
  font-size: 21px;
  text-align: center;
  margin-top: 15px;
}
.ceit {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.butt {
  margin-top: 50px;
  margin-right: 150px;
  display: flex;
}
.book {
  background-color: #285a43;
  border: none;
  border-radius: 3px;
  height: 40px;
  width: 170px;
  font-size: 16px;
  color: white;
  margin-right: 15px;
}
.Watch {
  background-color: transparent;
  border: none;
  border: 1px solid white;
  border-radius: 3px;
  font-size: 16px;
  height: 40px;
  width: 170px;
  color: white;
  padding-left: 15px;
}
.logwa {
  margin-left: -160px;
  width: 28px;
}
.flex {
  display: flex;
}

.what {
  color: #285a43;
  text-align: center;
  margin-top: 65px;
}
.grid {
  justify-content: space-around;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 50px;
}
.titt {
  display: flex;
  margin-left: 10px;
}
.hc {
  color: #337a5b;
  font-size: 16px;
  margin-right: 40px;
}
.Buysh {
  background-color: transparent;
  border: none;
  border: 1px solid green;
  border-radius: 3px;
  height: 35px;
  width: 115px;
  font-size: 16px;
  color: green;
}
.delp {
  margin-left: 10px;
  color: #337a5b;
}
.im {
  width: 300px;
}
.del {
  color: gray;
}
.Buy {
  background-color: #337a5b;
  border: none;
  border-radius: 3px;
  height: 35px;
  width: 115px;
  font-size: 16px;
  color: white;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 30px;
  gap: 10px;
}
.gridcol {
  grid-row: 1/3;
  width: 100%;
  height: 100%;
}
.gridim {
  width: 100%;
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 250px;
  padding-right: 250px;
  margin-top: 30px;
  gap: 90px;
}
.flex2 {
  width: 200px;
  display: flex;
  align-items: center;
  margin: 20px;
}

.imglogo {
  width: 60px;
  margin: 10px;
}
.gree {
  color: #285a43;
}
.cover2 {
  margin-top: 200px;
}
.mar {
  margin-top: -270px;
  margin-left: 330px;
}
.enterh {
  color: white;
  font-size: 30px;
  width: 750px;
  text-align: center;
}
.inbu {
  border: none;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 3px;
  padding-left: 30px;
  margin-left: 40px;
  width: 450px;
  height: 40px;
}
.marg {
  margin-top: 50px;
}
.Submit {
  background-color: #337a5b;
  border: none;
  border-radius: 3px;
  height: 40px;
  width: 150px;
  font-size: 16px;
  margin-left: 20px;
  color: white;
}

.grid4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 180px;
  padding-right: 100px;
  width: 250px;
  gap: 50px;
  margin-top: 30px;
}

.pb {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.tex {
  margin-top: 15px;
}
.pb2 {
  display: flex;
  justify-content: space-between;
  margin-top: 37px;
}
.pb3 {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.imw {
  width: 20px;
}
.con {
  display: flex;
  justify-content: space-between;
}
.ptx {
  margin-top: 2px;
  margin-left: 5px;
  color: #121212bd;
}

footer {
  height: 250px;
  margin-top: 50px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footcontent {
  width: 50%;
  display: inline;
  justify-content: center;
  align-items: center;
}
.footcontent h2 {
  text-align: center;
  color: white;
}
.media {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
  margin-left: 150px;
}
.ulfoot ul {
  justify-content: space-around;
  height: 30px;
  list-style-type: none;
}
.media img {
  margin-right: 35px;
  width: 50px;
  height: 50px;
}
